:root {
    --color: rgb(165, 8, 8);
    --addedcolor: red;
}
body .dark-mode{
    background-color: var(--color) !important;
    background-image: url(flakes.svg);
    background-size: cover;
}
body .dark-mode .navbar{
    background-color: var(--addedcolor) !important;
}
body .dark-mode .card{
    background-color: var(--addedcolor) !important;
}
body {
    background-image: url(flakes.svg);
}
body .dark-mode .navbar .btn {
    background-color:   green;
    border-color: green;
}